<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<script src="../static/js/jQuery.min.js"></script>
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="../static/js/chain.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/layout.css">

<link rel="icon" type="image/png" href="../static/pics/doctor.png">

</head>

<body>
<div id="header">
<div id="title">
<h2><img src="../static/pics/doctor.png" alt="Icon" style="width:43px;height:43px;">Provider Search Companion</h2>
</div>
</div>

<div id="body">
<div id="searchbox">
<table id = "searchoptions">

<tr height="22">
<td><strong> Select City </strong><td>
<td> <center>City </center></td>
<td>
<script>var cities = {{ cities|safe }}; </script>
<script src="../static/js/cities.js">

</script>
<div class="ui-widget">
  <input id="tags" placeholder="Search for city ...">
</div>
</td>

</tr>

<tr height="22">
<td><strong>Select Referring Doctor </strong><td>
<td width ="50"> <center>Type </center></td>
<td>
<select id="type" name="type">
	<option value="">--</option>
	{% for type in classdict.keys() %}
		{% if type == "Allopathic & Osteopathic Physicians" %}
			<option selected="selected" value="{{type}}">{{type}}</option>
  		{% else %}
  			<option value="{{type}}">{{type}}</option>
  		{% endif %}
	{% endfor %}
</select>
</td>

<td width ="90"><center> Classification </center></td>
<td>
<select id="classification" name="classification">
	<option value="">--</option>
	{% for type, value in classdict.iteritems() %}
	<option class="{{type}}" value="All">All</option>
		{% for classf in value.keys() %}
			{% if classf == "Internal Medicine" %}
				<option selected="selected" class="{{type}}" value="{{classf}}">{{classf}}</option>
			{% else %}
	  			<option class="{{type}}" value="{{classf}}">{{classf}}</option>
	  		{% endif %}
		{% endfor %}
	{% endfor %}
</select>
</td>


<td width ="150"><center> Specialization (Optional) </center> </td>
<td>
<select id="specialization" name="specialization">
	<option value="">--</option>
	<option class="All" value="All">All</option>
	{% for type, value in classdict.iteritems() %}
		{% for classf, spec in value.iteritems() %}
		<option class="{{classf}}" value="All">All</option>
			{% for value in spec %}
				{% if value == "General" %}
					<option selected="selected" class="{{classf}}" value="{{value}}">{{value}}</option>
				{% else %}
	  				<option class="{{classf}}" value="{{value}}">{{value}}</option>
	  			{% endif %}
	  		{% endfor %}
		{% endfor %}
	{% endfor %}
</select>
</td>

<script>
$("#classification").chainedTo("#type"); 
$("#specialization").chainedTo("#classification"); 
</script>

</tr>

<tr height="22">
<td><strong> Select Referred-To Doctor </strong><td>
<td><center> Type </center></td>
<td>
<select id="type2" name="type2">
	<option value="">--</option>
	{% for type in classdict.keys() %}
  		{% if type == "Allopathic & Osteopathic Physicians" %}
			<option selected="selected" value="{{type}}">{{type}}</option>
  		{% else %}
  			<option value="{{type}}">{{type}}</option>
  		{% endif %}
	{% endfor %}
</select>
</td>

<td> <center> Classification </center> </td>
<td>
<select id="classification2" name="classification2">
	<option value="">--</option>
	{% for type, value in classdict.iteritems() %}
		<option class="{{type}}" value="All">All</option>
		{% for classf in value.keys() %}
	  		{% if classf == "Internal Medicine" %}
				<option selected="selected" class="{{type}}" value="{{classf}}">{{classf}}</option>
			{% else %}
	  			<option class="{{type}}" value="{{classf}}">{{classf}}</option>
	  		{% endif %}
		{% endfor %}
	{% endfor %}
</select>
</td>

<script>
$("#classification2").chainedTo("#type2"); 
</script>

<td> <center> Specialization (Optional) </center></td>
<td>
<select id="specialization2" name="specialization2">
	<option value="">--</option>
	<option class="All" value="All">All</option>
	{% for type, value in classdict.iteritems() %}
		{% for classf, spec in value.iteritems() %}
		<option class="{{classf}}" value="All">All</option>
			{% for value in spec %}
	  			{% if value == "Cardiovascular Disease" %}
					<option selected="selected" class="{{classf}}" value="{{value}}">{{value}}</option>
				{% else %}
	  				<option class="{{classf}}" value="{{value}}">{{value}}</option>
	  			{% endif %}
	  		{% endfor %}
		{% endfor %}
	{% endfor %}
</select>
</td>

<script>
$("#specialization2").chainedTo("#classification2"); 
</script>

</tr>
</table>
</div>

<div id="search">
<img src="../static/pics/search5.png" alt="search" style="width:40px;height:40px;"><a href="javascript:void();" id="search"></a></img>
</div>

<div id="network">
<h4 id="networktitle"><center>Provider Network Visualizer</center></h4>
<img id= "loader" src="../static/pics/ajax-loader1.gif" alt="search" style="width:100px;height:100px;"></img>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="../static/js/networkgraph.js"></script>
</div>

<div id = "graphdesc">
<p> <i>This network graph displays the referring relationships </p>
<p> between all providers specified in the search parameters. </p>
<p>You can drag the nodes and explore the connections. </i></p>
</div>

<div id="graphdemo">
<img id= "gdemo" src="../static/pics/networkdemo.png" alt="search" style="width:500px;height:400px;"></img>
</div>

<div id="grapherror">
<p> Your search parameters did not return any network relationships. Try adjusting your search parameters. </p>
</div>

<div id="legend">
<table>
	<tr>
		<td colspan="2"><b> Legends </b></td>
	</tr>
	<tr>
		<td width ="20"><img src = "http://static.squarespace.com/static/52803c95e4b0a13e700c5f6c/t/528d8d0ce4b05976643a6961/1385008397926/light-blue-circle.png" style="width:10px;height:10px;"></img></td>
		<td> Referring Doctors </td>
	</tr>
	<tr>
		<td><img src = "http://i34.tinypic.com/zwaxs8.png" style="width:10px;height:10px;"></img></td>
		<td> Referred To Doctors </td>
	</tr>
</table>
</div>

<div id="networksummary">
<h4 id="networktitle"><center>Providers Ranked by "Influence"</center></h4>
<div id="doctorslist">
<img id= "loader2" src="../static/pics/ajax-loader1.gif" alt="search" style="width:100px;height:100px;"></img>
<script> var data1 = {{ data1|safe }}; </script>
</div>
</div>

<div id="topdocdesc">
<p> <i> We can identify the top most "important" or "influential"</p>
<p> doctors within the network by using metrics such as the </p>
<p> Engenvector Centrality or degree. </i></p>
</div>

<div id="topdocdemo">
<img id= "docdemo" src="../static/pics/docsdemo.png" alt="search" style="width:500px;height:400px;"></img>
</div>


<!-- <div id = "doctorrec">
<h4><center> Most "Influential" Doctors in This Network </center></h4>
<div id="doctorslist">
<script> var data1 = {{ data1|safe }}; </script>
<script src="../static/js/docrec.js"></script>
</div>
</div>

</div> -->


<div id="footer">
Analysis by Itelina Ma. Data Source: <a href="https://questions.cms.gov/faq.php?faqId=7977">CMS Medicare.</a> Development Code: <a href="https://github.com/Itelina/DoctorRecommendationApp"> Github Link </a>
</div>

</body>
</html>